@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap);
.body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#btn-svg{
  color: black;
}

#nav-link{
  color: black;
}

#nav-link:hover{
  color:#616161;
}

#icon-link{
  color: black;
}

#icon-link:hover{
  color: black;
}

#btn-store-main{
  background-color: black;
}

#btn-store-main:hover{
  background-color:#616161;
}